<div class="container">
  <div class="title">
    <h1>New cocktail</h1>
  </div>
  <div class="form">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, label: 'Cocktail\'s name', input_html: { class: "inputStyling" }%>
      <%= f.input :photo_url, input_html: { class: "inputStyling" } %>
      <div class="text-right"><%= f.button :submit, class: 'btn btn-primary inputStyling' %></div>
    <% end %>
  </div>
</div>
