h1, h2 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  margin-top: 60px;
}

.dose-list {
  margin-top: 60px;
  margin-right: 400px;
  margin-left: 400px;
}

p {
  font-family: 'Roboto Slab', serif;
}

.wrapper-grey {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  background-color: lightgrey;
}


.row_show {
  margin-right: 100px;
  margin-left: 100px;
}

.title_show h2 {
  padding: 30px;
  opacity: 0.9;
}


.card_show {
  margin-bottom: 50px;
  margin-right: 90px;
  margin-left: 90px;
}
