h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  margin-top: 80px;
}

.dose-list {
  margin-top: 80px;
  margin-right: 400px;
  margin-left: 400px;
}

.add-link {
  margin-top: 60px;
}

p {
  font-family: 'Roboto Slab', serif;
}
